<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- renders the _messages.html.erb file in layouts/ for the messages returned -->
  <%= render "layouts/messages" %>
  <%= yield %>

</body>
</html>
