<!DOCTYPE html>


<!-- ANY CODE IN here will be served on all the apps pages -->

<html>
<head>
  <title>AlphaBlog</title>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <!-- renders the _navigation.html.erb file in layouts/ for the messages returned -->
  <%= render "layouts/navigation" %>
  
  <!-- renders the _messages.html.erb file in layouts/ for the messages returned -->
  <%= render "layouts/messages" %>
  
  <div class="container"> <!-- renders all pages in a container -->
    <%= yield %>
  </div>
  
  <!-- renders the footer for all the pages -->
  <%= render 'layouts/footer' %>
  

</body>
</html>
